<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {{> _html/assets.css.mustache }}
  </head>
  <body>
    Hola mundo

    {{> _html/assets.js.mustache }}
  </body>
</html>
